### IDE ###
.gdbinit
.obsidian
compile_flags.txt
*.lock
.idea
.vs

### Python ###
__pycache__

### Valgrind ###
vgcore.*

### PROJECT ###

# Secrets
note
.envrc

# Test files
*.gcda
*.gcno
*.gcov

# CMake

tags
.cache
build
cmake-build-debug
cmake-build-release
cmake-build-windows

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
